header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header a>img{
    width: 20px;
    margin: 5px;
}
.logos{
    display: flex;
}
article>img{
    margin: 32px;
    width: 100px;
}
header>img{
    padding: 5px;
    height: 100px;
}
.submenu{
    display: block;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    padding: 1px;
}
.submenu a{
    text-decoration: none;
    color: #FFFFFF;
}
.rank{
    width: 100px;
}
.logintec{
    width: 150px;
}
.spacing{
    padding: 0 40px;
    font-family: 'lato';
    font-size: 15px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}
.footer a{
    color: aliceblue;
    text-decoration: none;
}
.footer p{
    color: aliceblue;
    text-align: center;
}
.columna{
    color: #474141;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
    font-size: large;
    font-style: italic;
}
.columna img{
    width:320px
}
form{
    text-align: end;
    color: #333638;
    font-style: oblique;
    font-size: x-large;
}
sectio